
@model List<AuthorContact>
@{
    ViewData["Title"] = "Index";
}

<partial name="_ShowResult" />

<div class="page-container mt-5">
    <div class="row">
        <div class="col-6 text-end">
            <a class=" text-dark btn btn-success" asp-area="" asp-controller="AuthorContact" asp-action="Create">Create Author Contact</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover table-bordered table-striped mt-5">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ContactNumber</th>
                    <th>Address</th>
                    <th>AuthorId</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ContactNumber</td>
                    <td>@item.Address</td>
                    <td>@item.AuthorId</td>
                    <td>
                        <a class=" text-dark btn btn-warning" asp-area="" asp-controller="AuthorContact" asp-action="Update" asp-route-id="@item.Id">Update Author Contact</a>
                    </td>
                    <td>
                        <a class=" text-dark btn btn-danger" asp-area="" asp-controller="AuthorContact" asp-action="Delete" asp-route-id="@item.Id">Delete Author Contact</a>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>

</div>